<button mat-icon-button color="primary" [routerLink]="['/tasks/newTask']">
  <mat-icon><span> add</span></mat-icon>
</button>
<div class="task-board">
  <div class="task-column">
    <div class="column-header">
      <h2>À FAIRE</h2>
    </div>
    <div class="task-list">
      <mat-card
        *ngFor="let task of tasks$ | async | taskFilter : 'not_started'"
        class="task-card"
      >
        <mat-card-content class="task-card-not-started">
          <div class="task-header">
            <div class="task-title">
              <h3>{{ task.title }}</h3>
              <h3 class="task-description">{{ task.description }}</h3>
              <span class="task-category">{{
                getCategoryName(task.categoryId)
              }}</span>
            </div>
            <div class="task-actions">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['/tasks/edit', task.id]"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteTask(task.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div [style.color]="getDateColor(task.dueDate.toString())">
            {{ task.dueDate | date : "dd/MM/yyyy" }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="task-column">
    <div class="column-header">
      <h2>EN COURS</h2>
    </div>
    <div class="task-list">
      <mat-card
        *ngFor="let task of tasks$ | async | taskFilter : 'in_progress'"
        class="task-card"
      >
        <mat-card-content class="task-card-in-progress">
          <div class="task-header">
            <div class="task-title">
              <h3>{{ task.title }}</h3>
              <h3 class="task-description">{{ task.description }}</h3>
              <span class="task-category">{{
                getCategoryName(task.categoryId)
              }}</span>
            </div>
            <div class="task-actions">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['/tasks/edit', task.id]"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteTask(task.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div [style.color]="getDateColor(task.dueDate.toString())">
            {{ task.dueDate | date : "dd/MM/yyyy" }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="task-column">
    <div class="column-header">
      <h2>FINI</h2>
    </div>
    <div class="task-list">
      <mat-card
        *ngFor="let task of tasks$ | async | taskFilter : 'completed'"
        class="task-card"
      >
        <mat-card-content class="task-card-completed">
          <div class="task-header">
            <div class="task-title">
              <h3>{{ task.title }}</h3>
              <h3 class="task-description">{{ task.description }}</h3>
              <span class="task-category">{{
                getCategoryName(task.categoryId)
              }}</span>
            </div>
            <div class="task-actions">
              <button
                mat-icon-button
                disabled="true"
                color="primary"
                [routerLink]="['/tasks/edit', task.id]"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                mat-icon-button
                color="warn"
                (click)="deleteTask(task.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <div>
            {{ task.dueDate | date : "dd/MM/yyyy" }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
